<div>Document Checklist</div>
<p> <%= @answers["documents"] %> </p>

<span><%= link "Edit", to: form_path(@conn, :document_checklist_edit) %></span>
</br>
<span><%= link "Move to next step", to: form_path(@conn, :preparation_checklist_new) %></span>
