<div>This is the role description template</div>
<p> <%= @answers["area"] %> </p>

<span><%= link "Edit", to: form_path(@conn, :role_description_edit) %></span>
</br>
<span><%= link "Move to next step", to: form_path(@conn, :confirmation_agreement) %></span>
