<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>First Days</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700" rel="stylesheet">
  </head>

  <body>

    <!-- nav bar -->

    <div class="w-100 bg-white bb b--blue">
      <%= if @current_user do %>
        <%= shared_component("logged_in_nav.html", conn: @conn, current_user: @current_user)%>
      <% else %>
        <%= shared_component("logged_out_nav.html", conn: @conn)%>
      <% end %>
    </div>

    <!-- modals -->

    <%= if get_flash(@conn, :email_modal) do
      redirect_to =
        if get_flash(@conn, :email_modal) == :role_description do
          page_path(@conn, :landing)
        else
          page_path(@conn, :get_them_ready)
        end
      shared_component("email_sent_modal.html", Map.put(assigns, :redirect_to, redirect_to))
    end %>

    <%= if get_flash(@conn, :success_modal) do
      shared_component("success_modal.html", assigns)
    end %>

    <%= if get_flash(@conn, :info) do %>
    <div class="w-100 bg-light-blue ph2 h2 flex items-center justify-center">
      <p class="<%= "#{body_bold_font()} white" %>"><%= get_flash(@conn, :info) %></p>
    </div>
    <% end %>

    <%= if get_flash(@conn, :error) do %>
    <div class="w-100 bg-light-red ph2 h2 flex items-center justify-center">
      <p class="<%= "#{body_bold_font()} white" %>"><%= get_flash(@conn, :error) %></p>
    </div>
    <% end %>

    <%= if get_flash(@conn, :success) do %>
    <div class="w-100 bg-light-green ph2 h2 flex items-center justify-center">
      <p class="<%= "#{body_bold_font()} white" %>"><%= get_flash(@conn, :success) %></p>
    </div>
    <% end %>

    <!-- main app -->

    <main class="mw9-ns center">
      <section class="mh3">
        <%= render @view_module, @view_template, assigns %>
      </section>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
