<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello FirstDays!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700" rel="stylesheet">
  </head>

  <body>

  <%= if @current_user do %>
    <%= shared_component("logged_in_nav.html", conn: @conn, current_user: @current_user)%>
  <% else %>
    <%= shared_component("logged_out_nav.html", conn: @conn)%>
  <% end %>


    <!-- <div class="container">
      <header class="header">
        <ol class="breadcrumb text-right">
          <%= if @current_user do %>
            <li><%= @current_user.name %></li>
            <li>
              <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
            </li>
          <% else %>
            <li><%= link "Register", to: user_path(@conn, :new) %></li>
            <li><%= link "Log in", to: session_path(@conn, :new) %></li>
          <% end %>
        </ol>
      </header> -->

      <p class="ma0"><%= get_flash(@conn, :info) %></p>
      <p class="ma0"><%= get_flash(@conn, :success) %></p>
      <p class="ma0"><%= get_flash(@conn, :error) %></p>

      <main class="mw9-ns center">
        <section class="ml3 mr3">
          <%= render @view_module, @view_template, assigns %>
        </section>
      </main>


      <!-- <%= if @current_user do %>
        <%= if @current_user.stages["role_description"] do %>
          <%= shared_component("status.html", content: "Find a volunteer", class: "bg-green") %>
        <% else %>
          <%= shared_component("status.html", content: "Find a volunteer", class: "bg-red") %>
        <% end %>

        <%= if @current_user.stages["confirmation_agreement"] && @current_user.stages["document_checklist"] && @current_user.stages["preparation"] do %>
          <%= shared_component("status.html", content: "Getting them ready", class: "bg-green") %>
        <% else %>
          <%= shared_component("status.html", content: "Getting them ready", class: "bg-red") %>
        <% end %>

        <%= if @current_user.stages["feedback"] do %>
          <%= shared_component("status.html", content: "Collecting feedback", class: "bg-green") %>
        <% else %>
          <%= shared_component("status.html", content: "Collecting feedback", class: "bg-red") %>
        <% end %>

      <% end %> -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
