<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>First Days</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700" rel="stylesheet">
  </head>

  <body>

  <div class="w-100 bg-white bb b--blue">
    <%= if @current_user do %>
      <%= shared_component("logged_in_nav.html", conn: @conn, current_user: @current_user)%>
    <% else %>
      <%= shared_component("logged_out_nav.html", conn: @conn)%>
    <% end %>
  </div>


    <!-- <div class="container">
      <header class="header">
        <ol class="breadcrumb text-right">
          <%= if @current_user do %>
            <li><%= @current_user.name %></li>
            <li>
              <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
            </li>
          <% else %>
            <li><%= link "Register", to: user_path(@conn, :new) %></li>
            <li><%= link "Log in", to: session_path(@conn, :new) %></li>
          <% end %>
        </ol>
      </header> -->


      <!-- <p class="ma0"><%= get_flash(@conn, :info) %></p>
      <p class="ma0"><%= get_flash(@conn, :success) %></p>
    <p class="ma0"><%= get_flash(@conn, :error) %></p> -->

      <%= if get_flash(@conn, :modal) do
        shared_component("email_sent_modal.html", assigns)
      end %>

      <%= if get_flash(@conn, :modal_success) do
        shared_component("success_modal.html", assigns)
      end %>

      <%= if get_flash(@conn, :info) do %>
      <div class="w-100 bg-light-blue ph2 h2 flex items-center justify-center">
        <p class="<%= "#{body_bold_font()} white" %>"><%= get_flash(@conn, :info) %></p>
      </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
      <div class="w-100 bg-light-red ph2 h2 flex items-center justify-center">
        <p class="<%= "#{body_bold_font()} white" %>"><%= get_flash(@conn, :error) %></p>
      </div>
      <% end %>

      <%= if get_flash(@conn, :success) do %>
      <div class="w-100 bg-light-green ph2 h2 flex items-center justify-center">
        <p class="<%= "#{body_bold_font()} white" %>"><%= get_flash(@conn, :success) %></p>
      </div>
      <% end %>

      <main class="mw9-ns center">
        <section class="mh3">
          <%= render @view_module, @view_template, assigns %>
        </section>
      </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
