<div class="<%= "pointer #{assigns[:wrapper_class]}" %>">
  <a href="<%= assigns[:link] %>" class="<%= " link db h4 w4 br2 pa4 #{assigns[:class]}" %>">
    <img src="<%= assigns[:icon] %>" alt="<%= assigns[:alt] %>">
  </a>
</div>
