<nav class="w-100 h3 bb b--blue flex justify-between items-center bg-white">
  <a class="f4 lh-copy b blue link no-underline flex items-center pa2 dib ml4">First Days</a>
  <div class="flex flex-row">
    <%= shared_component("button_main.html", content: "Log in", wrapper_class: "w4 b--blue bw1 ba flex items-center h2 mr1", content_class: "mv0 blue", link: session_path(@conn, :new)) %>
    <%= shared_component("button_main.html", content: "Register", wrapper_class: "w4 b--blue bw1 ba flex items-center h2 mr4", content_class: "mv0 blue", link: user_path(@conn, :new)) %>
  </div>
</nav>
