<nav class="w-100 h3 bb b--blue flex justify-between bg-white">
  <a class="f4 lh-copy b blue link no-underline flex items-center pa2">First Days</a>
  <%= shared_component("button_main.html", content: "Log out", wrapper_class: "w-10 b--blue bw1 ba flex-grow pa2 flex items-center", content_class: "mv0 blue") %>
</nav>
