<%= form_for @conn, @action, [], fn f -> %>
    <%= hidden_input f, @stage, value: "true" %>
    <%= hidden_input f, :redirect_to, value: @redirect_to %>
  <%= submit "Save", class: "btn btn-primary" %>
<% end %>
